/* .body_top{
    height: 500px;
    background-image: url(https://www.glassdoor.co.in/employers/app/uploads/sites/11/fly-images/24827/photo_sign-up_background-3-1280x300.jpg) ;
} */
.form{
    
    display: flex;
    flex-wrap: wrap;
}
.form_container{
    
    height: fit-content;
    width: 850px;
    margin: auto; 
    background-color: white;
    border-top:#007549 8px solid ;
    padding: 30px;
    border-radius: 4px;
}
.form_outer{
    background-color: #e8eaed;
    margin-top: 0px;
    height: 800px;
    padding-top: 80px;
}
.form input{
    height:30px;
    width: 350px;
    border: solid 1px #afafaf;
    margin-top: 10px;
    /* margin-left: 50px; */
    border-radius: 5px;
    margin-bottom: 20px;
}
.form label{
    color:black;
    display: inline;
    margin-left: 50px;
    
}
.form_container  button{
    width: 255px;
    height: 40px;
    margin-top: 50px;
    background-color: #0caa41;
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 300px;
}

.uploadBtn {
    padding: 1.5px 18px;
    width: 100px !important;
    background: white;
    cursor: pointer;
}

.imgIcon i {
    position: relative;
    color: black;
    top: 37px;
    right: 65px;
    margin-right: 15px;
}

.uploadBtn::placeholder {
    color: black;
    text-align: right;
}

.uploadBtn:focus {
    outline: none;
}

.form_container button:hover{
    background-color: #007549;
}
.form_container textarea{
    width: 500px;
    margin-left:50px;
}
.form_container h3{
    margin-left: 50px;
}
.form select{
    width: 100px;
    height: 30px;
    margin-top: 10px;
}
#chooselogo{
    height: 20px;
    width: 200px;
    
}


.chosenFile {
    position: relative;
    top: 25px;
    left: 10px;
    font-size: 16px;
    font-weight: 600;
}

.salaryRangeSelect {
    width: 220px !important;
    padding: 5px 10px;
    height: 32px !important;
    border-radius: 5px;
}


.prerequisite {
    resize: none;
    width: 750px !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 5px 10px;

}