
div{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
div, p{
    color: rgb(64, 64, 64);
    font-size: 15px;
}
.searchRight_div1{
    display: block;

    border-width: 0px;
    line-height: 15px;

    width: 100%;
}
.searchRight_div1_1{
    background-color: rgb(255, 255, 255);
    backface-visibility: hidden;


}
.searchRight_div1_1 > div {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
}
.searchRight_div1_1 > div > div:nth-child(1){
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.searchRight_div1_1 > div > div:nth-child(1) > div{
    color: rgb(80, 88, 99);
    display: flex;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
.searchRight_div1_1 > div > div:nth-child(1) > *{
    align-self: flex-start;
    width: auto;

}
.searchRight_div1_1 > div > div:nth-child(1) > div:nth-child(4){
    align-self: flex-start;
    width: auto;
    color: rgb(80, 88, 99);
    display: flex;
    font-size: 12px;
    height: 20px;
    line-height: 20px;

}
.searchRight_div1_1 > div > div:nth-child(1) > div:nth-child(4) > span:nth-child(1){
    font-size: 12px;
    line-height: 20px;
    color: rgb(80, 88, 99);

}
.searchRight_div1_1 > div > div:nth-child(1) > div:nth-child(4) > span:nth-child(1) > span:nth-child(1){
    font-size: 0.9em;
    margin: 0px 4px;
    position: relative;

}
.searchRight_div1_1 > div > div:nth-child(1) > div:nth-child(4) > span:nth-child(1) > span:nth-child(1) > span:nth-child(1){
    margin-right: 4px;
}
.check_svgs, .icon_i>svg{
    height: 1.35em;
    width: 1.35em;

}
.icon_i{
    cursor: pointer;
    display: inline-flex;
    position: relative;
    top: 0.25em;
    transform: scale(0.8);
}

.searchRight_div1_1 > div > div:nth-child(1) > div:nth-child(1){
    font-size: 15px;
    align-self: flex-start;
    width: auto;
    align-items: flex-end;
}
.searchRight_div1_1 > div > div:nth-child(1) > div:nth-child(2){
    font-size: 18px;
    height: auto;
    line-height: 24px;
    font-weight: 700;
}
.searchRight_div1_1 > div > div:nth-child(2){
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}
.div_1_1_1_2{
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;

}
.div_1_1_1_2 > div:nth-child(1){
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    
}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-bottom: 16px;
    z-index: 2;
    border-width: 0px;
    line-height: 15px;
}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    align-self: center;
    padding-left: 0px;
    border-width: 0px;
    line-height: 15px;
}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > button{
    margin-right: 0 !important;
    display: flex !important;
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    line-height: 1.6;
    user-select: none;
    vertical-align: middle;
    transition: color 0.2s ease-out 0s, background-color 0.2s ease-out 0s;
    font-family: Lato;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 88px;
    color: rgb(255, 255, 255);
    background-color: rgb(24, 97, 191);
    padding: 7px 16px;
    -webkit-box-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;

}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > button > i{
    margin-right: 12px !important;
    color: rgb(255, 255, 255);
    background-image: url("https://www.glassdoor.com/jobs-ux-app/static/img/sprites/newjob-search.png?v=aa490c5uu");
    background-position: -77px -123px;
    width: 11px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > button > span{
    color: rgb(255, 255, 255);
}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(2){
    align-self: center;
    padding-left: 16px;
    position: relative;
    border-width: 0px;
    line-height: 15px;

}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > button{
    border: 1px solid rgb(24, 97, 191);
    border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.6;
    user-select: none;
    vertical-align: middle;
    font-family: Lato;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 88px;
    color: rgb(24, 97, 191);
    background-color: rgb(255, 255, 255);
    padding: 7px 16px;
    transition: background-color 200ms linear 0s;
}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > button > span:nth-child(1){
    display: inline-block;
    line-height: 1em;
    outline: none;
    padding: 0px;
    margin-right: 8px;
    position: relative;
    top: 2px;
    vertical-align: middle !important;
}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > button > span:nth-child(1) > svg {
    width: 24;
    height: 24;
}
svg:not(:root) {
    overflow: hidden;
}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > button > span:nth-child(2){
    display: inline-block;
    line-height: 1em;
    outline: none;
    padding: 0px;
    vertical-align: -2px;
}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(3){
    align-self: center;
    padding-left: 16px;
    position: relative;
    border-width: 0px;
    line-height: 15px;
}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div {
    background: white;
    left: 0px;
    position: relative;
    border-width: 0px;
    line-height: 15px;

}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div > span:nth-child(1){
    display: flex;
}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div > span:nth-child(1) > svg {
    height: 40px;
    width: 40px;

}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div > span:nth-child(2){
    border-radius: 3px;
    font-size: 12px;
    background: rgb(32, 38, 46);
    color: rgb(255, 255, 255);
    display: flex;
    left: 50%;
    margin-top: 4px;
    opacity: 0;
    padding: 4px 8px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    transition: opacity 0.3s ease 0s;
    text-transform: capitalize;
    z-index: 10;
}
.div_1_1_1_2 > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > div > span:nth-child(2):after{
    border-bottom: 6px solid rgb(32, 38, 46);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    bottom: 100%;
    content: "";
    height: 0px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    width: 0px;
    
}
.afterPop{
    display: inline-block;
    border-width: 0px;
    line-height: 15px;

}
.searchRight_div1_2{
    position: relative;
    width: 100%;

}
.searchRight_div1_2 > div:nth-child(1){
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(245, 246, 247);
    display: flex;
    padding: 12px 16px 16px;
    border-bottom: 1px solid rgb(245, 246, 247);
}
.searchRight_div1_2 > div:nth-child(1) > span:nth-child(1){
    background-color: rgb(234, 118, 0);
    border-radius: 12px;
    color: rgb(255, 255, 255);
    flex-shrink: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin-right: 12px;
    padding: 5px 8px;
}
.searchRight_div1_2 > div:nth-child(1) > span:nth-child(2){}

.searchRight_div1_3{
    display: flex;

}
.searchRight_div1_3_col{
    border: 1px solid rgb(222, 224, 227);
    border-radius: 3px;
    margin-right: 16px;
    padding: 16px;
    width: 351px;
}
.searchRight_div1_3_col > h3{
    font-size: 15px;
    font-weight: 900;
    line-height: 24px;
    margin: 0px;
    color: rgb(13, 13, 13);
    
    font-variant-ligatures: no-common-ligatures;
    font-feature-settings: "liga" 0, "clig" 0;
}
.searchRight_div1_3_col_div{
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    padding-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
strong{
    font-weight: bold;
}
@media screen and (min-width: 768px){
.searchRight_div1_3{
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px 16px 16px;
}
}
.searchRight_div1_4{
    width: 100%;
    border-width: 0px;
    line-height: 15px;

}
.searchRight_div1_4 > div:nth-child(1){
    border-bottom: 1px solid rgb(245, 246, 247);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

}
.searchRight_div1_4 > div:nth-child(1) > div:nth-child(1), .searchRight_div1_4 > div:nth-child(1) > div:nth-child(2) {
    background: rgb(255, 255, 255);
    position: relative;

}
.searchRight_div1_4 > div:nth-child(1) > div:nth-child(1) > span:nth-child(1){
    cursor: pointer;
    display: inline-block;
    line-height: 22px;
    padding: 8px 16px 12px;
    transition: background-color 0.2s ease-out 0s;
    white-space: nowrap;
    color: rgb(80, 88, 99);
}
.searchRight_div1_4 > div:nth-child(1) > div:nth-child(1) > span:nth-child(1):after{
    background-color: rgb(24, 97, 191);
    bottom: 0px;
    content: "";
    height: 3px;
    left: 0px;
    position: absolute;
    width: 100%;
}
.searchRight_div1_4 > div:nth-child(1) > div:nth-child(2) > span:nth-child(1){
    cursor: pointer;
    display: inline-block;
    line-height: 22px;
    padding: 8px 16px 12px;
    transition: background-color 0.2s ease-out 0s;
    white-space: nowrap;
}
.loremText{
    margin-top: 40px;
    padding: 0px 10px;
}

.loremText > span{
color: rgb(95 90 90);
    font-weight: 600;
}
ul{
    list-style: none;
}
li{
    margin-bottom: 5px;
}
.rightStates{
    border-width: 0px;
    line-height: 15px;
    padding: 16px !important;
    padding: 0;
    width: 100%;

}
.rightStates > h4{
    margin-bottom: 4px;
    color: rgb(32, 38, 46);
    font-size: 20px;
    font-weight: 900;
    line-height: 32px;
    margin: 0px;
/* color: yellow; */
}
.rightStates > div:nth-child(2){
    font-size: 16px;
    line-height: 24px;
}
.rightStates > div:nth-child(1) > span:nth-child(1){

}
.rightStates_svg1{
    width: 18px;
    height: 18px;
    color: rgb(12, 170, 65);
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;

}
.rightStates > div:nth-child(3){
    display: flex;
    margin-top: 16px;
}
@media screen and (min-width: 767px){
.rightStates > div:nth-child(3) > div:nth-child(1){
    width: 33%;
}
}
.rightStates > div:nth-child(3) > div:nth-child(1){
    color: rgb(32, 38, 46);
    /* color: yellow; */
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    margin-bottom: 8px;
}
.rightStates > div:nth-child(3) > div:nth-child(2){
    display: flex !important;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}
.rightStates > div:nth-child(3) > div:nth-child(1) > span{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.rightLines>div:nth-child(1){
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(12, 64, 133);
    height: 0px;
    width: 0px;
    visibility: visible;
    margin-bottom: 4px;
    margin-left: calc(50% - 10px);
    border-width: 0px;
    line-height: 15px;
}
.rightLines > div:nth-child(2){
    background: rgb(24, 97, 191);
    height: 17px;
    width: 95%;
    border-width: 0px;
    line-height: 15px;

}
.rightLines > div:nth-child(3){
    margin-top: 12px !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
    width: 94%;

}
.rightLines > div:nth-child(3) > span{
    color: rgb(80, 88, 99);
    font-size: 15px;
    line-height: 24px;
}
.lastP{
    text-align: justify;
    padding: 15px;
    padding-right: 30px;
    line-height: initial;
}

